@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-table-tbody {
  font-size: 16px;
}
.ant-pagination {
  margin-top: 8px !important;
}
.ant-pagination-item {
  border: 1px solid #047979 !important;
}
